<script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/chart.js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-circle-progress/js/circle-progress.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
<script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
<script src="{{ url_for('static', filename='js/misc.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  </body>
</html>